

/* HERO STYLING */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

/* Fade In Animation */
#HeroHeading h1{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

#HeroHeading p{
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}

#header h1{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

#header p{
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.header-text{
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 150% !important;
}


/*HEADER IMAGES*/

.history-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 /*^HEADER IMAGES*/

 .awards-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 .cvc-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 .pf-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 .pmc-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 .bq-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 .officers-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 .alumni-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 .tabroom-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 .examples-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 .debatebible-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 40%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 .contact-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ClioHallFixed3.jpg");
  /* Set a specific height */
  height: 100%; 
  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

 /*Custom Formatting*/

.main-heading{
  white-space: nowrap;
  font-size:calc(20px + 4vw);
}

.main-subtitle{
  white-space: nowrap;
  font-size:calc(10px + 1.25vw);
}

.tournament-headers{
  font-size: calc(40px + 3vw);
}

.tournament-subtitles{
  font-size: 25px;
}

.award-headers{
  font-size: 20px;
  font-weight: bold;
}

.awards{
  font-size: 10pt;
}

.shadow{
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.5) !important;
}

.dropdown-menu{
  box-shadow:none!important;
  border: none!important;
  border-radius: 0 !important;
}

html { scroll-behavior: smooth; } 

.Overview:before {
  background: green;
  height: 50px;
  display: block;
  content: '';
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.short{
  height: 5rem !important;
}

.dropdown-item.active,.dropdown-item:active{
  background-color:  #57A44D !important;
}

.footer{
  color: #E5F6DF;
}

.footer-link{
  color: #FCD733 !important;
}

/*COLOR SCHEMES*/

.bg-secondary{
  background-color:  #F5F5F4 !important;
}

.bg-bannanaYellow{
  background-color: #FCD733;
}

.bg-corn{
    background-color: #FFE85C;

}

.bg-apple{
    background-color: #57A44D;
}

.bg-iguanaGreen{
  background-color:  #57A44D !important;
  color: white !important ;

}
.bg-lightGreen{
  background-color:  #99EE99;
}

.bg-teaGreen{
  background-color: #C7F6B6;
}

.bg-paleSpringBud{
  background-color:  #E2FAB5;
}

.bg-cream{
  background-color: #FFFCD1
}

.bg-veryPaleYellow{
  background-color: #FFF9C2;
}

.bg-testGreen{

  background-color: #7DB46CFF;
  color: white !important ;
}

.bg-nyanza{
   background-color: #E5F6DF !important;
}

.bg-testGreenWithBlackText{

  background-color: #7DB46CFF;
  color: black !important ;
}